<%-include('../partials/admin/index-header.ejs') %>

    <!-- Page Body Start-->
    <div class="page-body-wrapper">

        <%-include('../partials/admin/index-sidebar.ejs') %>


            <div class="page-body">
                <!-- Container-fluid starts-->
                <div class="container-fluid">
                    <div class="page-header">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="page-header-left">
                                    <h3>Dashboard
                                        <small>PACK POINT Admin panel</small>
                                    </h3>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <ol class="breadcrumb pull-right">
                                    <li class="breadcrumb-item">
                                        <a href="/admin/dashboard">
                                            <i data-feather="home"></i>
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Container-fluid Ends-->

                <!-- Container-fluid starts-->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xxl-3 col-md-6 xl-50">
                            <div class="card o-hidden">
                                <div class="warning-box card-body">
                                    <div class="media static-top-widget align-items-center">
                                        <div class="icons-widgets">
                                            <div class="align-self-center text-center">
                                                <a href="/admin/reports">
                                                    <i data-feather="navigation" class="font-warning"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="media-body media-doller">
                                            <a href="/admin/reports"><span class="m-1">Earnings</span></a>
                                            <h3 class="mb-0">₹ <span class="counter">
                                                    <%= total %>
                                                </span> <br> <small>Total Earnings</small></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xxl-3 col-md-6 xl-50">
                            <div class="card o-hidden">
                                <div class="secondary-box card-body">
                                    <div class="media static-top-widget align-items-center">
                                        <div class="icons-widgets">
                                            <div class="align-self-center text-center">
                                                <a href="/product/products">
                                                    <i data-feather="package" class="font-secondary"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="media-body media-doller">
                                            <a href="/product/products"><span class="m-0">Products</span></a>
                                            <h3 class="mb-0"><span class="counter">
                                                    <%= product %>
                                                </span> <small>Total Products</small></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xxl-3 col-md-6 xl-50">
                            <div class="card o-hidden">
                                <div class="secondary-box card-body">
                                    <div class="media static-top-widget align-items-center">
                                        <div class="icons-widgets">
                                            <div class="align-self-center text-center">
                                                <a href="/admin/user-list">
                                                    <i data-feather="user" class="font-secondary"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="media-body media-doller">
                                            <a href="/admin/user-list"><span class="m-0">User</span></a>
                                            <h3 class="mb-0"><span class="counter">
                                                    <%= User %>
                                                </span> <small>Total User</small></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-xxl-3 col-md-6 xl-50">
                            <div class="card o-hidden">
                                <div class="primary-box card-body">
                                    <div class="media static-top-widget align-items-center">
                                        <div class="icons-widgets">
                                            <div class="align-self-center text-center">
                                                <a href="/admin/order-list">
                                                    <i data-feather="shopping-cart" class="font-primary"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="media-body media-doller">
                                            <a href="/admin/order-list"><span class="m-0">Orders</span></a>
                                            <h3 class="mb-0"><span class="counter">
                                                    <%= totalOrder %>
                                                </span> <small>Total Orders</small></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-xl-12 xl-100">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Latest Orders</h5>
                                    <div class="card-header-right">
                                        <ul class="list-unstyled card-option">
                                            <li><i class="icofont icofont-simple-left"></i></li>
                                            <li><i class="icofont icofont-maximize full-card"></i></li>
                                            <li><i class="icofont icofont-minus minimize-card"></i></li>
                                            <li><i class="icofont icofont-refresh reload-card"></i></li>
                                            <li><i class="icofont icofont-error close-card"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="user-status table-responsive latest-order-table">
                                        <table class="table table-bordernone">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Order ID</th>
                                                    <th scope="col">User Name </th>
                                                    <th scope="col">Order Total</th>
                                                    <th scope="col">Payment Status</th>
                                                    <!-- <th scope="col">U</th> -->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% order.forEach(Order=> { %>

                                                    <tr>
                                                        <td>
                                                            <%= Order._id %>
                                                        </td>
                                                        <td>
                                                            <%= Order.firstName %>
                                                        </td>
                                                        <td class="digits">₹<%= Order.total %>
                                                        </td>
                                                        <td class="font-danger">
                                                            <%= Order.paymentStatus %>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                            </tbody>
                                        </table>
                                        <a href="/admin/order-list" class="btn btn-primary mt-4">View All Orders</a>
                                    </div>

                                </div>
                            </div>
                        </div>



                    </div>
                </div>
                <!-- Container-fluid Ends-->
            </div>

            <%-include('../partials/admin/index-footer.ejs') %>