<%-include('../partials/admin/index-header.ejs') %>

    <!-- Page Body Start-->
    <div class="page-body-wrapper">


        <%-include('../partials/admin/index-sidebar.ejs') %>

            <div class="page-body">
                <!-- Container-fluid starts-->
                <div class="container-fluid">
                    <div class="page-header">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="page-header-left">
                                    <h3>Upadate Products
                                        <small>PACK POINT Admin panel</small>
                                    </h3>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <ol class="breadcrumb pull-right">
                                    <li class="breadcrumb-item">
                                        <a href="<%= product._id %>">
                                            <i data-feather="home"></i>
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item active">Update Product</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Container-fluid Ends-->

                <!-- Container-fluid starts-->
                <div class="container-fluid">
                    <div class="row product-adding">
                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5>General</h5>
                                </div>
                                <div class="card-body">
                                    <form class="digital-add needs-validation" id="productForm"
                                        action="/product/update-product/<%= product._id %>" method="POST"
                                        enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label for="validationCustom01" class="col-form-label pt-0"><span>*</span>
                                                Title</label>
                                            <input class="form-control" id="validationCustom01" type="text" name="title"
                                                value="<%= product.title  %>" required>
                                        </div>

                                        <div class="form-group">
                                            <label for="validationCustomtitle"
                                                class="col-form-label pt-0"><span>*</span> SKU</label>
                                            <input class="form-control" id="validationCustomtitle" type="text"
                                                name="sku" value="<%= product.sku  %>" required>
                                        </div>

                                        <div class="form-group">
                                            <label for="validationCustom02" class="col-form-label"><span>*</span>
                                                Product Price</label>
                                            <input class="form-control" value="<%= product.price  %>"
                                                id="validationCustom02" type="text" name="price" required>
                                        </div>



                                        <div class="form-group">
                                            <label class="col-form-label">Current Images</label>
                                            <div class="d-flex flex-wrap gap-2">
                                                <% product.imgUrls.forEach((imgUrls, index)=> { %>
                                                    <div class="position-relative">
                                                        <img src="<%= imgUrls %>" alt="Product image"
                                                            style="width: 200px; height: auto;">
                                                            <button type="button"
                                                            class="btn btn-danger btn-xs position-absolute top-0 end-0"
                                                            onclick="deleteImage(event, '<%= product._id %>', '<%= imgUrls %>')">
                                                            ×
                                                        </button>
                                                        

                                                    </div>
                                                    <% }); %>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-form-label pt-0"> Product Upload (only 5 Images will be
                                                uploaded)</label>
                                            <div class="dropzone digits" id="singleFileUpload">
                                                <div class="dz-message needsclick" id="dropzoneTrigger">
                                                    <i class="fa fa-cloud-upload"></i>
                                                    <h4 class="mb-0 f-w-600">Drop files here or click to upload.</h4>
                                                </div>
                                                <input type="file" name="images" multiple accept="image/*"
                                                    class="d-none" id="imageUpload">

                                            </div>
                                        </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Add Description</h5>
                                </div>
                                <div class="card-body">
                                    <div class="digital-add needs-validation">
                                        <div class="form-group mb-0">
                                            <div class="description-sm">
                                                <textarea id="editor1" name="description" cols="10" rows="4">
                                                    <%= product.description %>
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-0">
                                <div class="product-buttons">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                    <button type="reset" class="btn btn-light">Discard</button>
                                </div>
                            </div>

                            </form>
                        </div>
                    </div>
                </div>
                <!-- Container-fluid Ends -->

            </div>



            <%-include('../partials/admin/index-footer') %>
            <script>
                async function deleteImage(event, productId, imageUrl) {
                    event.preventDefault(); 
                    try {
                        const response = await fetch("/product/delete-image", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({ productId, imageUrl })
                        });
            
                        const result = await response.json();
            
                        if (result.success) {
                            event.target.closest(".position-relative").remove();
                        } else {
                            alert("Failed to delete image");
                        }
                    } catch (error) {
                        console.error("Error deleting image:", error);
                    }
                }
            </script>
            