<%- include('partials/index-header') %>
    <main>

        <div class="box-white grey-bg pt-50">
            <div class="container">
                <div class="box-white-inner">
                    <div class="row">
                        <div class="col-xl-12">

                            <!-- slider area start -->
                            <section class="slider__area slider__area-4 p-relative">
                                <div class="slider-active">
                                    <div class="single-slider single-slider-2 slider__height-4 d-flex align-items-center"
                                        data-background="assets/img/slider/slider-1.jpg">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xl-7 col-lg-7 col-md-9 col-sm-11 col-12">
                                                    <div class="slider__content slider__content-4">
                                                        <h2 data-animation="fadeInUp" data-delay=".2s">Handmade <br>
                                                            Hand Best Bags</h2>

                                                        <a href="/user/shop" class="os-btn os-btn-2" data-animation="fadeInUp"
                                                            data-delay=".6s">Discover now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-slider single-slider-2 slider__height-4 d-flex align-items-center"
                                        data-background="assets/img/slider/slider-2.jpg">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xl-7 col-lg-7 col-md-9 col-sm-11 col-12">
                                                    <div class="slider__content slider__content-4">
                                                        <h2 data-animation="fadeInUp" data-delay=".2s">Think Different
                                                            &<br> Do it otherwise</h2>

                                                        <a href="/user/shop" class="os-btn os-btn-2" data-animation="fadeInUp"
                                                            data-delay=".6s">Discover now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-slider single-slider-2 slider__height-4 d-flex align-items-center"
                                        data-background="assets/img/slider/slide-3.jpg">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xl-7 col-lg-7 col-md-9 col-sm-11 col-12">
                                                    <div class="slider__content slider__content-4">
                                                        <h2 data-animation="fadeInUp" data-delay=".2s">Think Different
                                                            &<br> Do it otherwise</h2>

                                                        <a href="/user/shop" class="os-btn os-btn-2" data-animation="fadeInUp"
                                                            data-delay=".6s">Discover now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- slider area end -->



                            <!-- product area start -->
                            <section class="product__area pt-60 pb-100">
                                <div class="container custom-container">
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="section__title-wrapper text-center mb-55">
                                                <div class="section__title mb-10">
                                                    <h2>Trending Products</h2>
                                                </div>
                                                <div class="section__sub-title">
                                                    <p>whether you're searching for a classic leather handbag,these
                                                        sites provide</p>
                                                    <p> A convenient way to compare options and find the perfect bag to
                                                        suit your needs and personal aesthetic .</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <% for (let i=0; i < products.length; i +=4) { %>
                                            <div class="col-xl-12">
                                                <div class="row">
                                                    <% for (let j=i; j < i + 4 && j < products.length; j++) { %>
                                                        <div class="col-lg-3 col-md-6 col-sm-6">
                                                            <div class="product__item">
                                                                <div class="product__wrapper mb-60">
                                                                    <div class="product__thumb">
                                                                        <a href="/product/product-details/<%= products[j]._id %>"
                                                                            class="w-img">
                                                                            <img src="<%= products[j].imgUrls[0] %>"
                                                                                alt="<%= products[j].title %>">
                                                                            <% if (products[j].imgUrls.length> 1) { %>
                                                                                <img class="product__thumb-2"
                                                                                    src="<%= products[j].imgUrls[1] %>"
                                                                                    alt="<%= products[j].title %>">
                                                                                <% } %>
                                                                        </a>
                                                                        <div class="product__action transition-3">
                                                                            <a href="/wishlist/add/<%= products[j]._id %>"
                                                                                data-toggle="tooltip"
                                                                                title="Add to Wishlist">
                                                                                <i class="fal fa-heart"></i>
                                                                            </a>

                                                                        </div>
                                                                    </div>
                                                                    <div class="product__content p-relative">
                                                                        <div class="product__content-inner">
                                                                            <h4><a
                                                                                    href="/product/product-details/<%= products[j]._id %>">
                                                                                    <%= products[j].title %>
                                                                                </a></h4>
                                                                            <div class="product__price transition-3">
                                                                                <span>₹<%= products[j].price %></span>
                                                                                <% if (products[j].oldPrice) { %>
                                                                                    <span class="old-price">₹<%=
                                                                                            products[j].oldPrice %>
                                                                                    </span>
                                                                                    <% } %>
                                                                            </div>
                                                                        </div>
                                                                        <div class="add-cart p-absolute transition-3">
                                                                            <a href="/cart/add/<%= products[j]._id %>"><br>
                                                                                + Add to Cart</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% } %>
                                                </div>
                                            </div>
                                            <% } %>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="product__load-btn text-center mt-25">
                                                <a href="/user/shop" class="os-btn os-btn-3">Load More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- product area end -->



                            <!-- product offer area start -->
                            <section class="product__offer pb-45">
                                <div class="container custom-container">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-12">
                                            <div class="product__offer-inner mb-30">
                                                <div class="product__title mb-60">
                                                    <h4>Top Seller Products</h4>
                                                </div>
                                                <div class="product__offer-slider owl-carousel">
                                                    <% for (let i=0; i < products.length; i +=3) { %>
                                                        <div class="product__offer-wrapper">
                                                            <div class="sidebar__widget-content">
                                                                <% products.slice(i, i + 3).forEach(product=> { %>
                                                                    <div class="features__product-wrapper d-flex mb-20">
                                                                        <div class="features__product-thumb mr-15">
                                                                            <a
                                                                                href="/product/product-details/<%= product._id %>">
                                                                                <img src="<%= product.imgUrls[0]%>"
                                                                                    alt="<%= product.title %>"> </a>
                                                                        </div>
                                                                        <div class="features__product-content">
                                                                            <a
                                                                                href="/product/product-details/<%= product._id %>">
                                                                                <%= product.title %>
                                                                            </a>
                                                                            <div class="price">
                                                                                <span>₹<%= product.price %></span>
                                                                                <% if (product.oldPrice) { %>
                                                                                    <span class="price-old">$<%=
                                                                                            product.oldPrice %></span>
                                                                                    <% } %>
                                                                                        <div
                                                                                            class="add-cart p-absolute transition-3">
                                                                                            <a href="/cart/add/<%= product._id %>">
                                                                                                + Add to Cart</a>
                                                                                        </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <% }) %>
                                                            </div>
                                                        </div>
                                                        <% } %>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-xl-6 col-lg-6 col-md-12">
                                            <div class="product__offer-inner mb-30">
                                                <div class="product__title mb-60">
                                                    <h4>Top Rated Products</h4>
                                                </div>
                                                <div class="product__offer-slider owl-carousel">
                                                    <% for (let i = 0; i < products.length; i += 3) { %>
                                                    <div class="product__offer-wrapper">
                                                        <% products.slice(i, i + 3).forEach(product => { %>
                                                        <div class="features__product-wrapper d-flex mb-20">
                                                            <div class="features__product-thumb mr-15">
                                                                <a href="/product/product-details/<%= product._id %>">
                                                                    <img src="<%= product.imgUrls[0] || 'assets/img/shop/product/default.jpg' %>" alt="<%= product.title %>">
                                                                </a>
                                                            </div>
                                                            <div class="features__product-content">
                                                                <h5>
                                                                    <a href="/product/product-details/<%= product._id %>">
                                                                        <%= product.title %>
                                                                    </a>
                                                                </h5>
                                                                <div class="rating rating-shop mb-5">
                                                                    <ul>
                                                                        <% for (let i = 1; i <= 5; i++) { %>
                                                                        <li>
                                                                            <span>
                                                                                <i class="<%= i <= product.rating ? 'fas fa-star' : 'fal fa-star' %>"></i>
                                                                            </span>
                                                                        </li>
                                                                        <% } %>
                                                                    </ul>
                                                                </div>
                                                                <div class="price">
                                                                    <span>₹<%= product.price %></span>  <% if (product.oldPrice) { %>
                                                                    <span class="price-old">$<%= product.oldPrice %></span>
                                                                    <% } %>
                                                                    <div class="add-cart p-absolute transition-3">
                                                                        <a href="/cart/add/<%= product._id %>">+ Add to Cart</a>
                                                                    </div>
                                                                </div>
                                                               
                                                            </div>
                                                            
                                                        </div>
                                                        <% }); %>
                                                    </div>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </section>
                            <!-- product offer area end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- shop modal start -->

    </main>
    <%- include('partials/index-footer') %>