<%- include('../partials/header') %>

    <main>
        <!-- profile area start -->
        <section class="profile__area pt-120 pb-50 grey-bg">
            <div class="container">
                <div class="profile__basic-inner pb-20 bg-white">
                    <div class="row align-items-center">
                        <div class="col-xxl-6 col-md-6">
                            <div class="profile__basic d-md-flex align-items-center">

                                <div class="profile__basic-content">
                                    <h3 class="profile__basic-title">
                                        Welcome Back <span></span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-6 col-md-6">
                            <div class="profile__basic-cart d-flex align-items-center justify-content-md-end">
                                <div class="cart-info mr-10">
                                    <a href="/cart">View cart</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- profile area end -->

        <!-- profile menu area start -->
        <section class="profile__menu pb-70 grey-bg">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-4 col-md-4">
                        <div class="profile__menu-left bg-white mb-50">
                            <h3 class="profile__menu-title"><i class="fa fa-list-alt"></i> Your Menu</h3>
                            <div class="profile__menu-tab">
                                <div class="nav nav-tabs flex-column justify-content-start text-start" id="nav-tab"
                                    role="tablist">
                                    <button class="nav-link active" id="nav-account-tab" data-toggle="tab"
                                        data-target="#nav-account" type="button" role="tab" aria-controls="nav-account"
                                        aria-selected="true"> <i class="fa fa-user"></i>
                                        My Account</button>
                                    <button class="nav-link" id="nav-order-tab" data-toggle="tab"
                                        data-target="#nav-order" type="button" role="tab" aria-controls="nav-order"
                                        aria-selected="false"><i class="fa fa-file"></i>Orders</button>
                                    <button class="nav-link" id="nav-password-tab" data-toggle="tab"
                                        data-target="#nav-password" type="button" role="tab"
                                        aria-controls="nav-password" aria-selected="false"><i
                                            class="fa fa-lock"></i>Change Password</button>
                                    <form action="/auth/logout" method="POST">
                                        <button class="nav-link">
                                            <i class="fa fa-sign-out"></i> Logout
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-8 col-md-8">
                        <div class="profile__menu-right">
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-account" role="tabpanel"
                                    aria-labelledby="nav-account-tab">
                                    <div class="profile__info">
                                        <div
                                            class="profile__info-top d-flex justify-content-between align-items-center">
                                            <h3 class="profile__info-title">Profile Information</h3>
                                            <button class="profile__info-btn" type="button" data-toggle="modal"
                                                data-target="#profile_edit_modal"><i
                                                    class="fa-regular fa-pen-to-square"></i> Edit Profile</button>
                                        </div>

                                        <div class="profile__info-wrapper white-bg">
                                            <div class="profile__info-item">
                                                <p>Name</p>
                                                <h4>
                                                    <%= user.fullName %>
                                                </h4>
                                            </div>
                                            <div class="profile__info-item">
                                                <p>Email</p>
                                                <h4>
                                                    <%= user.email %>
                                                </h4>
                                            </div>
                                            <div class="profile__info-item">
                                                <p>Phone</p>
                                                <h4>
                                                    <%= user.phone %>
                                                </h4>
                                            </div>
                                            <div class="profile__info-item">
                                                <p>Address</p>
                                                <h4>
                                                    <%= user.address %>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-order" role="tabpanel"
                                    aria-labelledby="nav-order-tab">
                                    <div class="order__info">
                                        <div class="order__info-top d-flex justify-content-between align-items-center">
                                            <h3 class="order__info-title">My Orders</h3>
                                        </div>
                                        <div class="order__list white-bg table-responsive">
                                            <table class="table ">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Order ID</th>
                                                        <th scope="col">Products</th>
                                                        <th scope="col">Quantity</th>
                                                        <th scope="col">Total</th>
                                                        <th scope="col">Payment Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% if (typeof orders !== "undefined" && orders.length > 0) { %>
                                                        <% orders.forEach(order => { %>
                                                            <% order.products.forEach((product, index) => { %>
                                                                <tr>
                                                                    <% if (index === 0) { %> 
                                                                        <td class="order__id" rowspan="<%= order.products.length %>">#<%= order._id %></td>
                                                                    <% } %>
                                                                    
                                                                    <td><strong><%= product.name %></strong></td>
                                                                    <td><%= product.quantity %></td>
                                                                    <td>₹ <%= product.price * product.quantity %></td> 
                                                
                                                                    <% if (index === 0) { %> 
                                                                        <td rowspan="<%= order.products.length %>"><%= order.paymentStatus %></td>
                                                                    <% } %>
                                                                </tr>
                                                            <% }) %>
                                                        <% }) %>
                                                    <% } else { %>
                                                        <tr>
                                                            <td colspan="5" class="text-center">No orders found.</td>
                                                        </tr>
                                                    <% } %>
                                                </tbody>
                                                
                                                
                                            </table>
                                        </div>

                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-password" role="tabpanel"
                                    aria-labelledby="nav-password-tab">
                                    <div class="password__change">
                                        <div class="password__change-top">
                                            <h3 class="password__change-title">Change Password</h3>
                                        </div>
                                        <div class="password__form white-bg">
                                            <form action="/auth/change-password" method="post">
                                                <div class="password__input">
                                                    <p>Old Password</p>
                                                    <input type="password" id="oldPassword" name="oldPassword"
                                                        placeholder="Enter Old Password">
                                                </div>
                                                <div class="password__input">
                                                    <p>New Password</p>
                                                    <input type="password" id="newPassword" name="newPassword"
                                                        placeholder="Enter New Password">
                                                </div>

                                                <div class="password__input">
                                                    <button type="submit" class="os-btn os-btn-black">Update
                                                        password</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- profile menu area end -->

        <div class="profile__edit-modal">
            <!-- Modal -->
            <div class="modal fade" id="profile_edit_modal" tabindex="-1" aria-labelledby="profile_edit_modal"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="profile__edit-wrapper">
                            <div class="profile__edit-close">
                                <button type="button" class="profile__edit-close-btn" data-dismiss="modal"><i
                                        class="fa fa-times"></i></button>
                            </div>
                            <form action="/auth/update-account" method="post">
                                <div class="profile__edit-input">
                                    <p>Name</p>
                                    <input type="text" id="name" name="fullName" placeholder="Your Name">
                                </div>
                                <div class="profile__edit-input">
                                    <p>Email</p>
                                    <input type="text" id="email" name="email" placeholder="Your Email">
                                </div>
                                <div class="profile__edit-input">
                                    <p>Phone</p>
                                    <input type="text" id="phone" name="phone" placeholder="Your Phone">
                                </div>
                                <div class="profile__edit-input">
                                    <p>Address</p>
                                    <input type="text" id="address" name="address" placeholder="Your Address">
                                </div>
                                <div class="profile__edit-input">
                                    <button type="submit" class="os-btn os-btn-black w-100">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>